
.container {
  scroll-behavior: smooth;
  z-index: 123;
  width: 100%;
}

.btn_nav {
  border: none;
  
}
.svg_icon{
  cursor: pointer;
  width: 22px;
  margin-left:20px;
  margin-right: 20px;
  
}

.background_svg {
  transform: rotate(.5turn);
  position: relative;
}

.nameDisplay {
  color:yellow;
  background-color: blue;
  padding:5px;
  border-radius: 10px;
  transition: .3s;
  /* display: none; */
}


ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  color: rgb(113, 1, 1);
}

a:hover {
  color: rgb(253, 251, 251);
}

.row {
  position: relative;
  margin: 0;
}

.logo {
  width: 40px;
  height: 40px;
}


li {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Unna', serif;
  font-size: 22px;
  font-weight: 700;
  width: max-content;
}

.idiomes {

  font-size: 15px;
  align-items: center;
  line-height: 40px;
}

.idioma {
  margin: 0 10px;
  cursor: pointer;
}

.navbare {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: transparent;
  color: white;
  animation: apparition 900ms ease-in-out forwards;
}

.show-nav {
  position: relative;
}

.show-list {
  position: absolute;
  top: 32px;
  left: -0%;
  display: none;
  background-color: rgb(165, 42, 42,1);
  width: inherit;
}

.show-list:hover {
  display: block;
}
.show-nav:hover {
  background-color:  rgb(195, 42, 42,1);
  
  transition: .3s;
}
.item-show-list {
  width:100%;
  border-bottom: 2px solid rgba(19, 149, 149, 0.6);
  padding: 5px;
  font-size: 18px;
}

.item-show-list:hover {
  background-color: rgba(244, 248, 2, 0.6);
  background-color: rgb(195, 42, 42,1);
}

.show-nav:hover>ul {
  display: block;
  transition: 200ms;
}
.btn_menu{
  background-color: aliceblue;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: brown;
  height: 200px;
}

.underline_menu {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 576px) {

  .navbare {
    flex-direction: column;
    animation: apparition 200ms ease-in-out forwards;
    height: auto;
    left: -80px;
    /* width:max-content */
    padding-bottom: 30px;
  }

  .show-list {
    position: absolute;
    top: 10px;
    left: -139%;
    display: none;
    background-color: rgb(165, 42, 42,1);
    /* width: inherit; */
  }

  .row {
    width: 100%;
    margin: 0;
  }

  .l1 {
    width: 20px;
    height: 2px;
    background-color: rgb(248, 9, 9);
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .l2 {
    width: 20px;
    height: 2px;
    background-color: rgb(248, 9, 9);
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .l3 {
    width: 20px;
    height: 2px;
    background-color: rgb(248, 9, 9);
    position: absolute;
    top: 25px;
    right: 20px;
  }

  .active {

    animation-name: menu;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
  }

  @keyframes menu {
    from {
      transform: translate(0px, 0px);
      transform: rotate(0turn);
    }

    to {
      transform: translate(5px, -135px);
      background-color:white;
      border-radius: 50%;
      z-index:100;
    }

  }
}

@media screen and (min-width: 500px) and (max-height:500px) {
  
  .master_nav{
    width:100%;
  }
  .btn_nav {
    display: none;
  }

  .navbare {
    width: 100%;
  }

  .nav_bar {
    display: flex;
    align-items: center;
    height: auto;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 576px) {

  .row {
    margin: 0 auto;
  }

  .list_nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
  }
}

@media screen and (min-width: 756px) {
  .btn_nav {
    display: none
  }
}

@media screen and (min-width:1440px) {

  .nav_bar {
    display: flex;
    margin: 0 auto;
    height: 80px;
    align-items: center;
    width: auto;
  }

  .navbare {
    width: 1200px;
    margin: 0 auto;
  }

}